<!DOCTYPE html>
<html>
  <title>Submissions Table</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/navadmin.css" />
  <link rel="stylesheet" href="../css/w3.css" />
  <head>
    <link rel="icon" type="image/png" href="../../images/logo-backup2.png" />
  </head>

  <body>
    <%- include ("../views/partials/adminpanel") -%>
    <br /><br /><br /><br /><br />
    <div class="w3-container" style="background: white">
      <h2 style="text-align: center">Contest Id - <%= datap[0].contestId %></h2>
      <button onclick="exportTableToCSV('results.csv')">
        Download Results
      </button>
      <br />
      <hr />
      <select id="branch" onchange="filterTable()">
        <option value="05">CSE</option>
        <option value="04">ECE</option>
      </select>
      <table class="w3-table w3-striped" id="results">
        <tr>
            <th>Username</th>
            <th>Contest ID</th>
            <th>Participation Time</th>
            <th>Score</th>
        </tr>
        <% for(let i=0; i < datap.length; i++){ %>
        <tr>
            <td>
                <%= datap[i].username %>
            </td>
            <td>
                <%= datap[i].contestId %>
            </td>
            <td>
                <%= datap[i].participationTime.slice(0,datap[i].participationTime.length - 9 ) %>
            </td>
            <td>
                <%= datap[i].mcqResults.totalScore + datap[i].totalSubmissionResultsScore %>
            </td>
        </tr>
        <% } %>
      </table>
      <br />
      <br />
    </div>
    <script src="/adminjs/classie.js"></script>
    <script src="/adminjs/gnmenu.js"></script>
    <script>
      new gnMenu(document.getElementById("gn-menu"));
    </script>
    <script>
      function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;

        csvFile = new Blob([csv], { type: "text/csv" });

        downloadLink = document.createElement("a");

        downloadLink.download = filename;

        downloadLink.href = window.URL.createObjectURL(csvFile);

        downloadLink.style.display = "none";

        document.body.appendChild(downloadLink);

        downloadLink.click();
      }

      function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("table tr");

        for (var i = 0; i < rows.length; i++) {
          var row = [],
            cols = rows[i].querySelectorAll("td, th");

          for (var j = 0; j < cols.length; j++) row.push(cols[j].innerText);

          csv.push(row.join(","));
        }

        downloadCSV(csv.join("\n"), filename);
      }
    </script>
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#results").DataTable();
      });
    </script>
    <script>
      function filterTable() {
        var branch = document.getElementById("branch").value;
        var rows = document.getElementById("results").rows;
        console.log(rows)
        for (var i = 1; i < rows.length; i++) {
          var row = rows[i];
          var cells = row.getElementsByTagName("td");
          var cell = cells[0];
          console.log("branch:", branch);
          console.log("cell:", cell.innerText.slice(6,8));
          console.log("bool:", cell.innerText.slice(6,8).trim() === branch.trim());
          console.log("branch_type:", typeof branch);
          console.log("table_type:", typeof cell.innerText.slice(6,8));
              
          if (cell.innerText.slice(6,8) === branch || branch === "") {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        }
      }
    </script>
    
  </body>
</html>
